body {
  height: 100%;
}

.daytime {
  background-image: url(http://i38.photobucket.com/albums/e121/danieljwagener/sakura_zpsk869etma.png);
  /*'Sakura' from www.toptal.com/designers/subtlepatterns/; found through makerbook.net -> Textures -> Subtle Patterns */
}

.nighttime {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#00001a, #00004d) fixed;
    color: white;
}

/* transparent borders to simulate a min-margin property */
h1 {
  margin: 10% auto auto auto;
  border: transparent solid 15px;
}

h2 {
  margin: 4% auto auto auto;
  border: transparent solid 15px;
}

h4 {
  margin: 4% auto auto auto;
  border: transparent solid 15px;
  bottom: 50px !important;
}

#weather-icon {
  margin: 4% auto auto auto;
  font-size: 55px;
}

#https-link {
  background-color: white;
  opacity: 0.55;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 46px;
}

/*tiny screen formatting*/
@media only screen and (max-width: 180px) {
  h1 {
    font-size: 30px;
    border: none;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 22px;
    border: none;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 20px;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #https-link {
    font-size: 11px;
  }
}

@media only screen and (max-height: 380px) {
  h1 {
    font-size: 36px;
    border: none;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 24px;
    border: none;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 20px;
    border:none;
    margin-top: 10px;
    margin-bottom: 100px;
  }
  #https-link {
    font-size: 14px;
  }
}

@media only screen and (max-height: 250px) {
  h1 {
    font-size: 30px;
    border: none;
    margin-bottom: 6px;
    margin-top: 10px;
  }
  h2 {
    font-size: 20px;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  h4 {
    font-size: 20px;
    border:none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #https-link {
    font-size: 12px;
  }
  #weather-icon {
    margin-top: 2px;
  }
}

/* wide screen formatting */
@media only screen and (min-width: 1000px){
  h1 {
    margin: 5% auto auto auto;
  }
  h2 {
    margin: 1% auto auto auto;
  }
}
